.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100%;
}

form {
  margin: 1em;
}

form input {
  color: var(--clr-text);
}

form input:focus {
  outline: none;
}
